= simple_form_for(current_user, url: my_profile_path, html: { method: :put }) do |f|
  = f.error_notification

  - if @my_section == 's' || @my_section.blank?
    = f.input :name, input_html: { class: 'input-xlarge' }
    = f.input :email, input_html: { class: 'input-xlarge', disabled: current_user.email.present? && !current_user.email.include?('manuablefakeemail') }
    = f.input :nickname, wrapper: :prepend do
      %span.add-on
        http://manuable.com/
      = f.input_field :nickname, class: 'input-xlarge'
    = f.input :avatar, as: :file
    = f.input :birthday, input_html: { class: 'input-small datepicker' }, as: :string
    = f.association :state, input_html: { class: 'input-xlarge' }
    = f.input :city_id, as: :string, autocomplete: "off", input_html: { name: 'city-autocomplete', id: 'city-autocomplete', value: f.object.city ? "#{f.object.city.name}, #{f.object.city.state.name}" : '' }
    = f.input :city_id, as: :hidden
    = f.input :about, as: :text, input_html: { rows: 3, class: 'input-xlarge' }
  /- if current_user.id = premium_user.user.id
  /= link_to 'Mi cuenta de banco', edit_premium_user_datas_path
  - if @my_section == 'p'
    .form-inputs
      = f.input :email, required: true, autofocus: true, input_html: { class: 'input-xlarge' }
      = f.input :password, autocomplete: "off", hint: "dejar en blanco si no quieres cambiarlo", required: false, input_html: { class: 'input-xlarge' }
      = f.input :password_confirmation, required: false, input_html: { class: 'input-xlarge' }
      = f.input :current_password, required: true, input_html: { class: 'input-xlarge' }

  .form-actions
    = f.button :submit, "Guardar"

%h3 Mi Cuenta de Banco
= link_to "Mi Cuenta de Banco", premium_user_datum_path(current_user.premium_user_data)