= simple_form_for(current_user, :url => my_profile_path, :html => { :method => :put }) do |f|
  = f.error_notification
  - if params[:f] == 's'
    = f.input :name
    = f.input :avatar, as: :file
    = f.association :state
    = f.input :city_id, as: :string, :autocomplete => "off", input_html: { name: 'city-autocomplete', id: 'city-autocomplete', value: f.object.city ? "#{f.object.city.name}, #{f.object.city.state.name}" : '' }
    = f.input :city_id, as: :hidden
  - if params[:f] == 'p'
    .form-inputs
      = f.input :email, :required => true, :autofocus => true
      = f.input :password, :autocomplete => "oft", :hint => "dejalo en blanco si no quieres cambiarlo", :required => false
      = f.input :password_confirmation, :required => false
      = f.input :current_password, :required => true

  .form-actions
    = f.button :submit, "Guardar"
