.row-fluid
  .span6.offset3
    %h4
      Mensajes
      = link_to "Nuevo", new_my_conversation_path, class: 'btn btn-mini', rel: 'modal'
    - current_conversation = nil unless local_assigns[:current_conversation]
    %ul.media-list#conversations
      - @conversations.each do |conversation|
        %li.media
          = link_to my_conversation_path(conversation), class: 'pull-left', rel: 'modal', title: conversation.name(current_user) do
            = image_tag conversation.sender(current_user).avatar.url(:thumb), class: 'media-object'
          .media-body
            = link_to my_conversation_path(conversation), rel: 'modal', title: conversation.name(current_user) do
              %h4.media-heading= conversation.name(current_user)
              .media
                = truncate conversation.body, length: 80

