= form_for @payment, html: { } do |f|
  %h1= @payment.event.name
  %p.lead
    = raw @payment.event.description
  %table#event-checkout.table
    %thead
      %tr
        %th
          Cantidad
        %th
          Concepto
        %th
          Unitario
        %th
          Total
    %tbody
      %tr
        %td
          1
        %td
          = @payment.event_sale_category.name
        %td
          = number_to_currency @payment.event_sale_category.price
        %td
          = number_to_currency @payment.event_sale_category.price
      - @payment.event_product_payments.each do |payment|
        %tr
          %td
            = payment.units
          %td
            = payment.event_product.name
          %td
            = number_to_currency payment.unit_price
          %td
            = number_to_currency payment.total
      %tr
        %td
        %td
        %td
        %td
          #total.strong
            %strong= number_to_currency @payment.grand_total
  #space-selector
    Por favor selecciona la posición donde te gustaría estar durante el evento.
    %br
    = f.select :position, @payment.event_sale_category.available_positions, {}, class: 'input-small'
  = link_to image_tag('semillamap.jpg'), '/assets/semillamap.jpg', target: '_blank'

  - unless @payment.paid?
    %h4
      Paga usando tu tarjeta de crédito o en tu tienda OXXO más cercana
    .row
      .span6
        = f.fields_for :card do |f|
          .row
            .span3
              = f.label :card_name, 'Nombre'
              = f.text_field :card_name, class: 'span3'
            .span3
              = f.label :card_lastname, 'Apellido(s)'
              = f.text_field :card_lastname, class: 'span3'
          .row
            .span4
              = f.label :card_num, 'Número de tarjeta'
              = f.text_field :card_num, class: 'span4'
            .span2
              = f.label :card_exp, 'Expiración'
              = f.text_field :card_exp_month, style: 'width: 67px; float: left;', placeholder: 'mes'
              = f.text_field :card_exp_year, style: 'width: 70px; float: left;margin-left:5px;', placeholder: 'año'

          .row
            .span2
              = f.label :card_ccv2, 'Código de seguridad'
              = f.text_field :card_ccv2, class: 'span2'
            .span2
              = f.label :card_brand, 'Tipo'
              = f.select :brand, [ ['Visa', 'visa'], ['American Express'], ['Mastercard', 'mastercard']], {}, class: 'span2'
            .span2
              = f.label :phone, 'Teléfono'
              = f.text_field :phone, class: 'span2'
          .row
            .span3
              = f.label :address, 'Dirección'
              = f.text_field :address, class: 'span3'
            .span3
              = f.label :post_code, 'Código postal'
              = f.text_field :post_code, class: 'span3'

          %br
          .row
            .span6
              %button.btn.btn-primary.pull-right{ type: 'submit' }
                Pagar &raquo;
      .span6
        - if @payment.oxxo_ready? && @payment.oxxo_expires_on > Date.today
          .alert.alert-success
            Gracias, estamos esperando por tu pago
          = image_tag "/uploads/event_payment_barcodes/#{@payment.id}/#{@payment.id}.gif"
        - else
          - if @errors
            .alert.alert-error
              Tu petición no puedo ser procesada
              %br
              = @errors
          #oxxo-payment-option
            Paga en tu OXXO más cercano
            %br
            %small Clic en el logo
            %br
            = link_to oxxo_payment_event_payment_path(@payment, position: @payment.event_sale_category.available_positions.first), method: :post, id: 'oxxo-link' do
              = image_tag 'oxxo.jpg', style: 'width: 150px'
            Recibirás en tu correo instrucciones de como realizar tu pago
            %br
            %strong
              Tendrás 24 hrs para realizar tu pago
  - else
    %a.btn.btn-success.disabled
      Pagado!
    %p
    = link_to "&laquo; Regresar a evento".html_safe, @payment.event
