= div_for @user do
  = div_image @user.cover.url(:cover), class: 'cover' do
    = div_image @user.avatar.url(:medium), class: 'user-avatar'
    .user-name
      = @user.name
    .user-location
      = @user.location
    .user-description
      = link_to 'Mis Mercaditos', user_events_path(@user), class: 'transparent-button', id: 'user-events'
      - if current_user && @user != current_user
        - if @user.followed_by? current_user
          %span{ class: 'followed', id: 'follow-user' }
            Siguiendo
        - else
          = link_to 'Seguir'.html_safe, user_followings_path(@user), method: 'post', remote: true, id: 'follow-user'
        = link_to '<i class="fa fa-envelope-o"></i>'.html_safe, '#', class: 'follow', id: 'message-user'
      - else
        - unless current_user
          = link_to 'Seguir'.html_safe, "#sign_popup", "data-toggle" => "modal", id: 'follow-user'


      .user-about
        = @user.about
  .navbar.user-menu.sub-menu
    .navbar-inner
      %ul.nav
        %li
          = link_to 'Productos', '?', class: "#{ params[:f].blank? ? ' active' : ''}"
          %li.divider-vertical
        %li
          = link_to 'Gustos', '?f=l', class: "#{ params[:f] == 'l' ? ' active' : ''}"
          %li.divider-vertical
        %li
          = link_to 'Seguidores', '#followers'
          %li.divider-vertical
        %li
          = link_to 'Siguiendo', '#followings'
  %section#user-products
    = render partial: '/products/feed', locals: { products: @products, no_banner: true }
  %section#likes
  %section#followers
    %ul#followers.user-list.clearfix
      - @user.followers.each do |u|
        .item
          = div_image u.avatar.url(:medium), class: 'user-avatar'
          .item-name= link_to u.name, u
          .item-location= u.location
  %section#followings
    %ul#followees.user-list.clearfix
      - @user.followees.limit(5).each do |u|
        .item
          = div_image u.avatar.url(:medium), class: 'user-avatar'
          .item-name= link_to u.name, u
          .item-location= u.location

