.row-fluid
  .span9.text-center
    .btn-group{ 'data-toggle' => "buttons-radio" }
      = link_to 'Todo', '?', class: "btn #{ params[:f].blank? ? ' active' : ''}"
      = link_to 'Gustos', '?f=l', class: "btn#{ params[:f] == 'l' ? ' active' : ''}"
      = link_to 'Compartido', '?f=p', class: "btn#{ params[:f] == 'p' ? ' active' : ''}"

    .activities.top-spacer
      = render partial: 'products/create', collection: @products, as: :product
  .span3
    .sidebar
      = image_tag @user.avatar.url(:small), class: 'user-avatar'
      = for_logging_user_only do
        - if @user != current_user
          .text-center
            - if @user.followed_by? current_user
              %span.btn.btn-mini.btn-success.active.disabled
                %i.icon-ok
                Siguiendo
            - else
              = link_to '<i class="icon-plus"></i> Seguir'.html_safe, user_followings_path(@user), method: 'post', remote: true, id: 'follow', class: 'btn btn-mini'
      %blockquote.pull-right
        %p
          = @user.name
        - if @user.location.present?
          %small
            = @user.location
      %p
        = truncate @user.about, length: 300, omission: '...'
      - if @user.followers.count > 0
        .module
          %h4 Seguidores
          %ul#followers.media-list
            - @user.followers.limit(5).each do |u|
              %li.media
                = image_tag u.avatar.url(:small), class: 'media-object pull-left'
                .media-body
                  = link_to u.name, u
      - if @user.followees.count > 0
        .module
          %h4 Siguiendo
          %ul#followees.media-list
            - @user.followees.limit(5).each do |u|
              %li.media
                = link_to u, class: 'pull-left' do
                  = image_tag u.avatar.url(:small), class: 'media-object pull-left'
                .media-body
                  = link_to u.name, u



