.row-fluid
  .span9.text-center
    .btn-group{ 'data-toggle' => "buttons-radio" }
      = link_to 'Todo', '?', class: "btn #{ params[:f].blank? ? ' active' : ''}"
      = link_to 'Gustos', '?f=l', class: "btn#{ params[:f] == 'l' ? ' active' : ''}"
      = link_to 'Compartido', '?f=p', class: "btn#{ params[:f] == 'p' ? ' active' : ''}"

    .activities.top-spacer
      - @activities.each do |activity|
        = render_activity activity
  .span3
    .sidebar
      = image_tag @user.avatar.url(:small), class: 'user-avatar'
      = for_logging_user_only do
        .text-center
          - if @user.followed_by? current_user
            %span.btn.btn-mini.active.disabled
              %i.icon-ok
              Siguiendo
          - else
            = link_to '<i class="icon-plus"></i> Seguir'.html_safe, user_followings_path(@user), method: 'post', remote: true, id: 'follow', class: 'btn btn-mini'
      %p.lead
        = @user.name
      %p
        = truncate @user.about, length: 300, omission: '...'

      .module
        %h4 Seguidores
        %ul#followers.media-list
          - @user.followers.each do |u|
            %li.media
              = image_tag u.avatar.url(:small), class: 'media-object'
              .media-body
                = link_to u.name, u
      .module
        %h4 Siguiendo
        %ul#followees.media-list
          - @user.followees.each do |u|
            %li.media
              = link_to u, class: 'pull-left' do
                = image_tag u.avatar.url(:small), class: 'media-object'
              .media-body
                = link_to u.name, u



