- product = activity.trackable
- if product && product.attachments.length > 1
  - liked = activity.respond_to?(:liked) ? activity.liked.to_i != 0 : false
  .activity
    .lateral-box.user-avatar
      = link_to user_path(product.user) do
        = image_tag product.user.avatar.url(:small)
    / .lateral-box.want-learn{"data-original-title" => "Quiero aprender", "data-toogle" => "tooltip"}
    /   %a{:href => "learn/#{product.id}"}
    /     %h1
    /       %i.icon-lightbulb
    / .lateral-box.want-buy{"data-original-title" => "Quiero comprar", "data-toogle" => "tooltip"}
    /   %a{:href => "buy/#{product.id}"}
    /     %h1
    /       %i.icon-shopping-cart
    .product-picture
      = heart_overlay product, liked
      = image_tag product.attachments.first.attachment.url :xlarge
    .product-description
      .author-title
        %h4
          = product.name
      .author-message
        = product.about
      .product-tags
        = hashify(product.prop_list).join(", ")
    .product-pictures
      - if product.on_sale? && product.attachments.length > 1
        .thumbnail-box.clearfix
          - product.attachments[1, 3].each do |attachment|
            .picture-thumbnail
              = image_tag attachment.attachment.url(:medium)
    %hr
