<div class="main-footer">
  <!--div class="container">
    <div class="row">
      <div class="twelve columns text-center">
            <p>Síguenos en nuestras redes</p>
            <a href="http://twitter.com/manuable"><i class="fa fa-twitter"></i></a>
            <a href="http://facebook.com/manuable"><i class="fa fa-facebook"></i></a>
            <a href="http://manuable.tumblr.com"><i class="fa fa-tumblr"></i></a>
              
      </div>
    </div>
    <div class="row">
    	<div class="twelve columns text-center">
    		
    		<%= link_to 'Nosotros', '#' %>
    		<%= link_to 'Media', '#' %>
        <%= link_to 'Asesoria contable', '#' %>
        <%= link_to 'Términos y Condiciones', '#' %>
      </div>
      
    </div-->
  <div class="container">
    <div class="row">
      <div class="three columns text-center">
        <!--p>AV HUMBERTO LOBO #161-7, COLONIA DEL VALLE, SAN PEDRO, NL, CP 66220, MEXICO.</p-->
        <p>MANUABLE © 2015</p>
      </div>
      <div class="nine columns text-center">
        <%= link_to 'Nosotros', '#' %>
        <%= link_to 'Media', '#' %>
        <%= link_to 'Asesoria contable', '#' %>
        <%= link_to 'Términos y Condiciones', '#' %>
        <%= link_to 'Descubre a todos los artesanos', '#' %>
      </div>
  	</div>
  </div>
</div>
</div>
