.navbar.navbar-fixed-top
  .navbar-inner
    .container
      = link_to image_tag("logo.svg"), root_path, class: 'brand'
      - if user_signed_in?
        / = link_to 'Crear Mercadito', '#', class: 'transparent-button', id: 'nav-crear-mercadito'
      - else
        / = link_to 'Crear Mercadito', new_session_path(:user, return_to: new_event_path), rel: "modal", class: 'transparent-button', id: 'nav-crear-mercadito'
      %ul.nav.pull-right
        - if !user_signed_in?
          %li.login-option
            = link_to 'Entrar', new_registration_path(:user), rel: "modal", class: 'transparent-button'
          %li.login-option.login-icons
            = link_to "<i class='fa fa-facebook-square'></i>".html_safe, user_omniauth_authorize_path(:facebook)
            = link_to "<i class='fa fa-twitter-square'></i>".html_safe, user_omniauth_authorize_path(:twitter)
        - else
          %li#current-user-options
            .dropdown
              %a.dropdown-toggle{ "data-toggle" => "dropdown", href: "#" }
                %div.user-round-avatar{ style: "background-image: url(#{ current_user.avatar.url(:small).to_s })" }
                %span.user-name
                  = current_user.first_name
              %ul.dropdown-menu
                %li
                  = link_to "<i class='fa fa-user'></i> Mi perfil".html_safe, user_path(current_user)
                %li
                  = link_to "<i class='fa fa-cogs'></i> Mi información".html_safe, edit_my_profile_path(f: 's')
                %li
                  = link_to "<i class='fa fa-question'></i> Ayuda".html_safe, '/about'
                %li
                  = link_to "<i class='fa fa-power-off'></i> Salir".html_safe, destroy_user_session_path, method: :delete
          %li
            = link_to 'Subir Producto', new_my_product_path, class: 'transparent-button', id: 'nav-subir-producto'
          %li#inbox{ class: current_user.has_notifications? ? 'active' : '' }
            %a{ href: my_conversations_path }
              %i.fa.fa-envelope-o
          -#%li#notifications{ class: current_user.notifications.unread.count > 0 ? 'active' : '' }
            -#.dropdown
              -#%a.dropdown-toggle{ "data-toggle" => "dropdown", href: "#" }
                -#%i.icon-bell-alt
              -#%ul.dropdown-menu
                -#- current_user.notifications.recent_first.each do |notification|
                  -#%li
                    -#= link_to my_notification_path(notification), id: dom_id(notification), class: "notification#{!notification.read? ? ' unread' : ' read'}" do
                      -#= image_tag notification.sender.avatar.url(:thumb)
                      -#%span.user-name
                        -#= notification.sender.first_name
                      -#le gustó tu producto
<div class="repairing-banner">Disculpa las molestias. Estámos trabajando. Si necesitas algo puedes escribirnos a <a href="mailto:hola@manuable.com">hola@manuable.com</a></div>

