#welcome-title
  %h1 ¡Bienvenido a Manuable!
  %h4 Descubre y Compra productos hechos a mano en México.
.row-fluid
  .span3
    %h3#discover-header
      Descubre
    %ul#discover.nav.nav-list{ "data-spy" => 'affix', "data-offset-top" => 130 }
      %li{ class: params[:c].nil? ? 'active' : '' }
        = link_to "Todos", root_path
      - Category.all.each do |category|
        %li{ class: params[:c].to_i == category.id ? 'active' : '' }
          = link_to category.name, root_path(c: category.id)
  .span6
    #main-feed
      = render partial: '/products/feed', locals: { products: @products }
  .span3
    #home-left-banner
      = link_to '/mercadosemilla' do
        = image_tag("/assets/5octbanner.png")
