#welcome-title
  %h1 ¡Bienvenido a Manuable!
  %h4 Descubre y Compra productos hechos a mano en México.
.row-fluid
  .span3
    %h3#discover-header
      Descubre
    %ul#discover.nav.nav-list{ "data-spy" => 'affix', "data-offset-top" => 130 }
      %li{ class: params[:c].nil? ? 'active' : '' }
        = link_to "Todos", root_path
      - Category.all.each do |category|
        %li{ class: params[:c].to_i == category.id ? 'active' : '' }
          = link_to category.name, root_path(c: category.id)
  .span6
    #main-feed
      = render partial: '/products/feed', locals: { products: @products }
  .span3
    #home-left-banner
      - if Event.incoming.present?
        %h3 Eventos
        #event-banners
          - Event.incoming.banner.each do |event|
            = link_to event.slug.present? ? "/#{event.slug}" : event_path(event), class: 'event-banner' do
              .event-banner-name
                = event.name
              .event-banner-date
                = l event.starts_at, format: :day_of_month
              .event-banner-location
                - if event.city
                  = "#{ event.city.name }, #{ event.city.state.name }"

