#welcome
  %div#home-cover
    %h1
      Descubre y Compra productos
      %br
      hechos a mano en México.
    = link_to 'CONOCE MÁS', '/about', id: 'conoce-mas', class: 'transparent-button', rel: 'modal'
    - if user_signed_in?
      = link_to 'SUBIR PRODUCTO', new_my_product_path, id: 'subir-producto'
    - else
      = link_to 'SUBIR PRODUCTO', new_session_path(:user, return_to: new_my_product_path), id: 'subir-producto', rel: 'modal'
  %h2
    Encuentra productos originales hecho a mano
    %br
    en México
  #products-wrapper
    .navbar.categories-menu.sub-menu
      .navbar-inner
        %ul.nav
          %li
            .dropdown
              %a.dropdown-toggle{ "data-toggle" => "dropdown", href: "#" }
                Categorías
                &nbsp;&nbsp;
                = image_tag 'catdd.png'
              %ul.dropdown-menu
                %li
                  = link_to "Todos", root_path
                - Category.all.each do |category|
                  %li{ class: params[:c].to_i == category.id ? 'active' : '' }
                    = link_to category.name, root_path(c: category.id)
          %li.divider-vertical
          %li
            = link_to 'Populares', { pop: 1, c: params[:c] }, class: ( params[:pop] == '1' || params[:new].nil? && params[:special].nil? ? 'active' : nil )
          %li
            = link_to 'Nuevos', { new: 1, c: params[:c] }, class: ( params[:new] == '1' ? 'active' : nil )
    #main-feed
      = render partial: '/products/feed', locals: { products: @products }

- if Event.incoming.paid.present?
  #upcoming-events
    %h3
      Mercaditos
    .current-location
      .fa.fa-map-marker
      Monterrey, México
    .flexslider
      %ul.slides
        - Event.incoming.paid.banner.each do |event|
          %li
            = link_to event.slug.present? ? "/#{event.slug}" : event_path(event), class: 'event-banner' do
              .event-banner-image{ style: "background-image: url(#{event.cover.url(:cover)});" }
              .event-banner-info-wrapper
                = image_tag 'event-arrow.png'
                .event-banner-name
                  = event.name
                .event-banner-date
                  = l event.starts_at, format: :event_long

