#product-show.row-fluid
	.show-top.span12
		.row-fluid
			.left-tab.span4
				%img.img-polaroid{:src => @product.attachments.first.attachment}
				.row-fluid
					.product-name.span12
						= @product.name
						por 
						= current_user.name
			.right-tab.span8
				%h4.text-center	
					= @product.category.name
					= @product.name
				= @product.about
				.row-fluid
					.span12
						.row-fluid
							.img-one.span4
								%img.img-polaroid{:src => @product.attachments.first.attachment}
							.img-two.span4
								%img.img-polaroid{:src => @product.attachments.first.attachment}
							.img-three.span4
								%img.img-polaroid{:src => @product.attachments.first.attachment}
						.row-fluid
							Precio
							= @product.price
						.row-fluid
							Disponibles
							= @product.amount
						.row-fluid
							Es elaborado con:
	.show-comments.span12