= form_tag checkout_event_path, method: :post, class: 'form-horizontal' do
  %h1= @event.name
  %p.lead
    = raw @event.description
  %table#event-checkout.table
    %thead
      %tr
        %th
          Cantidad
        %th
          Concepto
        %th
          Unitario
        %th
          Total
    %tbody
      %tr

        %td
          = select_tag 'event_sale_category', options_for_select(@event.event_sale_categories.collect{|c| [ c.name, c.id] })
        %td
          Tipo de producto
        %td
          %span#event-price
            = number_to_currency @event.event_sale_categories.first.try(:price)||0
        %td
          %span#event-price-total
            = number_to_currency @event.event_sale_categories.first.try(:price)||0
      - @event.event_products.each do |product|
        %tr
          %td.event-product-input
            %input{ value: 0, class: 'input-small', name: "event_products[#{product.id}]", data: { price: product.price }}
          %td.event-product-name
            = product.name
          %td.event-product-unit-price
            = number_to_currency product.price
          %td.event-product-price{ data: { total: 0 }}
            = number_to_currency 0
      %tr
        %td
        %td
        %td
        %td
          #total.strong
            %strong= number_to_currency @event.event_sale_categories.first.try(:price)||0
  %button.btn.btn-primary.pull-right{ type: 'submit' }
    Siguiente &raquo;
- content_for :script do
  :plain
    event_sale_products = #{ Hash[@event.event_sale_categories.map {|v| [v.id,v]}].to_json  }
