#event-setup
  #event-plans{ style: "#{@event.errors.present? ? 'display: none;' : 'display: block;' }" }
    #home-circle
      = image_tag 'logo-mercadito.png'
    %h3
      El Mercadito
    %hr
    %p
      Crea "Mercaditos" en tu ciudad, organízate
      %br
      y vende tus productos dentro  de tu comunidad.
    %hr
    %strong
      ¿De qué tamaño será tu mercadito?
    .plans
      .row-fluid
        .span4
          %a.plan{ href: "#plan1" }
            %h1
              Chico
            %p
              ·Publica a los expositores
              %br
              y sus productos
              %br
              %br
              ·Facilita la organización
              %br
              del evento
              %br
              %br
              ·Administra los registros
              %br
              de los expositores
            .size
              1 - 15 Expositores
            .price
              $80
        .span4
          %a.plan{ href: "#plan2" }
            %h1
              Mediano
            %p
              ·Publica a los expositores
              %br
              y sus productos
              %br
              %br
              ·Facilita la organización
              %br
              del evento
              %br
              %br
              ·Administra los registros
              %br
              de los expositores
            .size
              16 - 50 Expositores
            .price
              $160
        .span4
          %a.plan{ href: "#plan3" }
            %h1
              Grande
            %p
              ·Publica a los expositores
              %br
              y sus productos
              %br
              %br
              ·Facilita la organización
              %br
              del evento
              %br
              %br
              ·Administra los registros
              %br
              de los expositores
            .size
              51 - 100 Expositores
            .price
              $240
  #event-form{ style: "#{@event.errors.present? ? 'display: block;' : 'display: none;' }" }
    .row
      .span7.offset2
        = simple_nested_form_for @event, html: { } do |f|
          = render partial: 'form', locals: { f: f }

          = f.button :wrapped, cancel: (params[:modal] == '1' ? 'close-modal' : new_my_product_path)
