- event_request = @event.event_requests.where(user_id: current_user.id).first
#event-request-access
  %h2
    PARTICIPA EN
    = @event.name
  #benefits-observations
    - if @event.benefits.present?
      #benefits-bg
        %h4 Beneficios por Participar
        = sanitize @event.benefits, tags: %w( i table th tr td ul li ol strong), attributes: %w(style)

    - if @event.requirements.present?
      #requirements-bg
        %h4 Requisitos
        = sanitize @event.requirements, tags: %w( i table th tr td ul li ol strong), attributes: %w(style)

    - if @event.notes.present?
      #observations-bg
        %h4 Observaciones y Espacios
        = sanitize @event.notes, tags: %w( i table th tr td ul li ol strong), attributes: %w(style)

        - if @event.location_map.present?
          #semilla-map
            = link_to image_tag(@event.location_map.url), @event.location_map.url,  target: '_blank'
- if current_user.products_count > 0
  #event-tos
    .row-fluid
      .span6
        #checkbox-acceptance
          %label
            %input{ type: 'checkbox', id: 'obs-cb', disabled: event_request.present? ? 'disabled' : nil, checked: event_request.present? ? 'checked' : nil }
            He leído las observaciones
          %label
            %input{ type: 'checkbox', id: 'terms-cb', disabled: event_request.present? ? 'disabled' : nil, checked: event_request.present? ? 'checked' : nil }
            Acepto los términos y condiciones
      .span4
      .span4
        %p#do-click
          HAZ CLICK EN EL BOTÓN DE LA DERECHA PARA ENVÍAR TU SOLICITUD, TE CONTACTAREMOS A LA BREVEDAD
      .span2
        - if event_request
          - if event_request.accepted.nil?
            .btn.btn-warning.disabled
              Esperando respuesta
          - elsif event_request.accepted
            .btn.btn-success.disabled
              Aceptada
          - else
            .btn.btn-danger.disabled
              Rechazada
        - else
          - if @event.seats_left?
            = link_to '<br>Envia tu <br>solicitud'.html_safe, request_access_event_path, class: 'disabled pull-right request-access', method: :post
- else
  #event-tos.text-center
    %strong Antes de enviar tu solicitud, por favor sube al menos UN producto a Manuable para que el/los organizadores conozcan tu trabajo.
    %br
    %br
    = link_to 'Subir Producto'.html_safe, new_my_product_path, class: 'btn btn-info'