.row
  .span6
    .text-center
      Antes de enviar tu solicitud como expositor al evento, asegúrate de
      %strong actualizar tu perfil
      dentro de Manuable. También es necesario que subas algunos de tus productos,
      esto ayudará a los visitantes a saber que estarás participando en el evento.

      .clearfix

      - if event_request = @event.event_requests.where(user_id: current_user.id).first
        - if event_request.accepted.nil?
          .btn.btn-warning.disabled
            Esperando respuesta
        - elsif event_request.accepted
          .btn.btn-success.disabled
            Aceptada
        - else
          .btn.btn-danger.disabled
            Rechazada
      - else
        - if @event.seats_left?
          - if current_user.seller_ready?
            = link_to 'Estoy listo(a)', request_access_event_path, class: 'btn btn-info', method: :post
          - else
            %br
            .btn.btn-info.disabled
              Solicitar acceso
            %br
            %br


            - if current_user.missing_seller_info.present? || current_user.products.count == 0
              %p
                Llena la siguiente información en:
                - if current_user.missing_seller_info.present?
                  = link_to 'Mi información', edit_my_profile_path(f: 's')
                  %br
                  = current_user.missing_seller_info.to_sentence
                - if current_user.products.count == 0
                  %br
                  = "#{current_user.missing_seller_info.present? ? 'Y tus' : 'Tus' } productos en"
                  = link_to 'Vende', new_my_product_path, "data-toggle" => "modal", :href => "#product_wizard", :role => "button"
        %br
        %br
