.event-show
  %div{ style: "border-bottom: 5px solid #000;background-image: url(#{@event.cover.url}); width: 1200px; height: 390px;" }
  %ul.nav.nav-pills.row-fluid.event-nav{ data: { "spy" => 'affix', "offset-top" => '414' }}
    %li.active.span3.text-center
      %a{ href: "#desc" }
        Descripción
        %br
        del Evento
    %li.span3.text-center
      %a{ href: "#itinerary", style: 'line-height: 40px' }
        Itinerario
    %li.span3.text-center
      %a{ href: "#artisans" }
        Conoce a los
        %br
        Expositores
    %li.span3.text-center
      %a{ href: "#join" }
        Quiero
        %br
        ser Expositor

  %section#desc
    %h3 Descripción del evento
    .section-content.clearfix
      .row-fluid
        .span4#organizers
          %h4.horizontal Organizadores
          - @event.users.order("users.name").each do |user|
            .organizer
              = image_tag user.avatar.url(:medium)
              .name
                = user.name
                - if signed_in?
                  %small
                    = raw "(#{link_to "Enviar mensaje", new_my_conversation_path(to: user.id), rel: 'modal'})"

          %br
          %small
            *Informes acerca del
            %br
            registro a cualquiera
            %br
            de los Talleres de Manualidades al
            %br
            Tel. (81)17691414

        .span4
          %h4.horizontal El evento
          = raw @event.description
          #collaboration
            Colaboradores:
            %br
            %img{ src: '/assets/casasemilla.png' }
            %img{ src: '/assets/manuable.png' }
            %img{ src: '/assets/lamiselanea.png' }
        .span4
          %h4.horizontal.nodecoration
            &nbsp;
          El Mercado Semilla se
          %br
          llevará a cabo en
          %br
          Casa Semilla, ubicada
          %br
          en:
          %br
          %br
          Río Volga #120 Oriente
          %br
          Entre Río Tamanzunchale y Río Presas
          %br
          Colonia Del Valle,
          %br
          66220 San Pedro N.L.
          %br
          %br
          El día:
          %br
          7 de septiembre de 2013
          %br
          de 4:00 pm a 10:00 pm
          %br
          %br
          %br
          %strong
            Entrada libre
          .clearfix
          = link_to 'MAPA', "https://maps.google.com/maps?q=25.654206,-100.368171&hl=en&ll=25.654177,-100.368057&spn=0.004246,0.008068&num=1&t=m&z=18&iwloc=A", target: '_blank', class: 'show-map pull-left'
  %section#itinerary
    %h3 El itinerario
    .section-content.clearfix
      .event-schedule-category
        %h4
          Talleres de Manualidades
        %ul.schedule#talleres
          %li.clearfix
            %span.schedule-time
              4:00 pm
            %span.schedule-name
              Acuarela para niños por Arte Lunario
          %li.clearfix
            %span.schedule-time
              4:50 pm
            %span.schedule-name
              Creación de malas por Eunice García
          %li.clearfix
            %span.schedule-time
              6:30 pm
            %span.schedule-name
              Mandalas Power por Luis Wero
        %small
          * Informes acerca del registro a cualquiera de los Talleres de Manualidades al Tel. (81)17691414
      .event-schedule-category
        %h4
          Cine al aire libre
        %ul.schedule#cine
          %li.clearfix
            %span.schedule-time
              10:00 pm
            %span.schedule-name
              Cine "Artesanos"
              %strong
                Jardín Fuego
      .event-schedule-category
        %h4
          Música en vivo
        %ul.schedule
          %li.clearfix
            %span.schedule-time
              4:00 pm  a 10:00 pm
            %span.schedule-name
              Los siguientes músicos
        %br

        #musicians
          .musician
            %a{ href: 'https://www.facebook.com/xiahatroden', class: 'fb-link', target: '_blank' }
              %img{ src: '/assets/7sep/xiaha_troden.png' }
              %span.name
                Xiaha Troden
          .musician
            %a{ href: 'https://www.facebook.com/andresluismx', class: 'fb-link', target: '_blank' }
              %img{ src: '/assets/7sep/andresluis.png' }
              %span.name
                Andrés Luis
          .musician
            %a{ href: 'https://www.facebook.com/pages/Noyolo/232188323561365', class: 'fb-link', target: '_blank' }
              %img{ src: '/assets/7sep/noyolo.png' }
              %span.name
                Noyolo
          .musician
            %a{ href: 'https://www.facebook.com/RapDeLuz', class: 'fb-link', target: '_blank' }
              %img{ src: '/assets/7sep/rap.png' }
              %span.name
                Rap de Luz
          .musician
            %a{ href: 'https://www.facebook.com/dhumeda', class: 'fb-link', target: '_blank' }
              %img{ src: '/assets/7sep/david.png' }
              %span.name
                David Humeda
          .musician
            %a{ href: 'https://www.facebook.com/pages/Viento-Wirikuta/530434550301687', class: 'fb-link', target: '_blank' }
              %img{ src: '/assets/7sep/viento.png' }
              %span.name
                Viento Wikirikuta
          .musician
            %a{ href: '"http://flavors.me/cantisani', class: 'fb-link', target: '_blank' }
              %img{ src: '/assets/7sep/daniel.png' }
              %span.name
                Daniel Cantisani

  %section#artisans
    %h3 Nuestros Expositores
    .section-content.clearfix#artisans-bg
      - @event.artisants.in_groups_of(5).each do |g|
        .row-fluid
          - g.each do |u|
            - next unless u
            .artisan
              %div.avatar{  style: "background-image: url(#{u.avatar.url(:small)})" }
              %hr
              %span.name= u.first_name
              %span.location= u.location.present? ? u.location : 'monterrey'
              = link_to 'PRODUCTOS', u


  %section#join
    %h3 Quiero ser expositor
    .section-content.clearfix#benefits-bg
      %h4 Beneficios por Participar
      =raw @event.benefits
      #observations-bg
        %h4 Observaciones y Espacios
        =raw @event.notes

      %h4 Consideraciones para el Registro
      Costo por participar:
      %br
      $250 pesos para expositores (artesanos, artistas).
      %br
      $350 Alimentos (El precio varía por considerar que son más pocos
      los lugares)

      %h4.purple Pasos para participar
      %ol
        %li Regístrate en manuable.com/mercadosemilla
        %li Sube la mayor cantidad de productos en tu perfil (esto ayudara a que las personas que nos vistan conozcan más acerca de lo que haces).
        %li Envía tu solicitud para participar en el evento.
        %li Por tu comodidad el pago lo podrás realizar en tiendas Oxxo, tarjeta de débito, crédito o transferencia electrónica.
      %strong
        Nota.- en el caso de que tus productos sean alimentos preparados, no subir fotografía al sitio, solo envía la solicitud de participación y envía un mensaje al organizador del evento
      #call-to-action
        .text
          HAZ CLICK EN EL BOTÓN DE LA
          %br
          DERECHA PARA ENVÍAR TU SOLICITUD,
          %br
          TE CONTACTAREMOS A LA BREVEDAD.
        .sign
          &raquo;
        %div
          - if signed_in? && (event_request = @event.event_requests.where(user_id: current_user.id).first)
            - if event_request.accepted.nil?
              .btn.btn-warning.disabled.pull-right.request-access
                Esperando
                %br
                respuesta
            - elsif event_request.accepted
              = link_to "¡Aceptada!<br> pasar a paga".html_safe, checkout_event_path(@event), class: 'pull-right request-access'
            - else
              .btn.btn-danger.disabled
                Rechazada
          - else
            - if @event.seats_left?
              - if signed_in?
                = link_to '¡Envía tu <br> Solicitud!'.html_safe, request_access_event_path, class: 'pull-right request-access', rel: 'modal', title: '¡Envía tu Solicitud!'
              - else
                = link_to '¡Envía tu <br> Solicitud!'.html_safe, "#sign_popup", "data-toggle" => "modal", :role => "button", class: 'pull-right request-access'
        #thankyou
          ESTE EVENTO
          %br
          LO HACEMOS TODOS.
          %br
          ¡GRACIAS!

