.event-show
  %div{ style: "background-image: url(#{@event.cover.url}); width: 1200px; height: 225px; background-repeat: no-repeat; background-position: center;" }
  %section#event-header
    %h1.event-name= @event.name
    %p.event-brief
      Fecha:
      = l @event.starts_at, format: :human
      %br
      = @event.location_name
    %ul.event-nav.clearfix{ data: { "spy" => 'affix', "offset-top" => '414' }}
      %li.active.text-center
        %a{ href: "#desc" }
          %h4 Descripción del evento
      %li.text-center
        %a{ href: "#itinerary" }
          %h4 El Itinerario
      %li.text-center
        %a{ href: "#artisans" }
          %h4 Conoce a los Expositores

  %section#desc
    = @event.description
    = request_link @event

  %section#organizers
    %h3 Organizadores
    - @event.users.order("users.name DESC").in_groups_of(4, false) do |group|
      .row-fluid
        - group.each do |user|
          .span3
            .organizer
              = image_tag user.avatar.url(:medium)
              .name
                = user.name
                - if signed_in?
                  %small
                    = raw "(#{link_to "Enviar mensaje", new_my_conversation_path(to: user.id), rel: 'modal'})"

  %section#itinerary
    %h3 Itinerario
    - @event.event_schedules.group_by { |iti| iti.starts_at.to_date }.each do |date, itis|
      %table.card.iti-date-group{ cellpadding: 0, cellspacing: 0}
        %tr
          %td.card-present
            %h1= l date, format: :day_month
            %span.time-range= l itis.first.starts_at, format: :time
            :plain
              -
            %span.time-range= l itis.last.starts_at, format: :time
          %td.card-detail
            %ul
              - itis.each do |iti|
                %li
                  .iti-time= l iti.starts_at, format: :time
                  .iti-name= iti.name
    - if @event.location_name && @event.lat.present? && @event.lng
      %h3 Lugar
      %table.card{ cellpadding: 0, cellspacing: 0}
        %tr
          %td.card-present
            %h1
              = @event.location_name
            .address
              = @event.address
          %td.card-detail
            #map{ data: {lat: @event.lat, lng: @event.lng }}

  %section#artisans.clearfix
    %h3
      Expositores

    - @event.artisants.in_groups_of(4).each do |g|
      - g.each do |u|
        - next unless u
        .artisan
          = link_to user_path(u) do
            %div.avatar{  style: "background-image: url(#{@images[u.id].try(:attachment).try(:try, :large) })" }
            %span.name= u.name

  %section#benefits
    %h3 Beneficios por participar
    = raw @event.benefits
  %section#participate
    %h2 ¿Eres artesano y quieres participar?
    %p
      ¿Alguna duda? Comunicate con nosotros
    = request_link @event
