- if current_user && @event.user_ids.include?(current_user.id)
  %script{ type: "text/javascript", src: "https://conektaapi.s3.amazonaws.com/v0.3.0/js/conekta.js" }
= div_for @event do
  .container
    = div_image @event.cover.url(:cover), class: 'cover' do
      - if current_user && @event.users.include?(current_user) || current_user.try(:id) == 43
        #event-admin-options
          - if !@event.paid?
            = link_to '<i class="fa fa-check"></i> Publicar!'.html_safe, publish_event_path(@event), class: 'btn btn-success', rel: 'modal'
          = link_to 'Editar Evento', edit_event_path(@event), class: 'btn btn-primary'
      #event-cover-info
        %h1.event-name= @event.name
        %p.event-date
          Fecha:
          = l @event.starts_at, format: :human
        - if @event.location_name.present?
          %p.event-location
            %i.fa.fa-map-marker
            = @event.location_name
    .navbar.event-menu.sub-menu
      .navbar-inner
        %ul.nav
          %li
            = link_to 'Descripción', '#desc'
          %li.divider-vertical
          %li
            = link_to 'Itinerario', '#itinerary'
          %li.divider-vertical
          %li
            = link_to 'Conoce a los Expositores', '#artisans'

    %section#desc
      .card
        .card-padding
          = @event.description
          = request_link @event

    %section#organizers.user-list
      %h3
        %i.fa.fa-users
        Organizadores
      .card
        .card-padding
          - @event.users.order("users.name DESC").in_groups_of(4, false) do |group|
            .row-fluid
              - group.each do |user|
                .span3
                  .item
                    = div_image user.avatar.url(:medium), class: 'user-avatar'
                    .item-name= link_to user.name, user
                    - if signed_in?
                      %small
                        = raw "(#{link_to "Enviar mensaje", new_my_conversation_path(to: user.id), rel: 'modal'})"
    - if @event.event_schedules.present?
      %section#itinerary
        %h3
          %i.fa.fa-clock-o
          Itinerario
        - @event.event_schedules.group_by { |iti| iti.starts_at.to_date }.each do |date, itis|
          %table.card.iti-date-group{ cellpadding: 0, cellspacing: 0}
            %tr
              %td.card-present
                %h1= l date, format: :day_month
                %span.time-range= l itis.first.starts_at, format: :time
                :plain
                  -
                %span.time-range= l itis.last.starts_at, format: :time
              %td.card-detail
                %ul
                  - itis.each do |iti|
                    %li
                      .iti-time= l iti.starts_at, format: :time
                      .iti-name= iti.name

    - if @event.location_name && @event.lat.present? && @event.lng
      %section#location
        %h3
          %i.fa.fa-map-marker
          Lugar
        %table.card{ cellpadding: 0, cellspacing: 0}
          %tr
            %td.card-present
              %h1
                = @event.location_name
              .address
                = @event.address
            %td.card-detail
              #map{ data: {lat: @event.lat, lng: @event.lng }}

    %section#artisans.clearfix.user-list
      %h3
        %i.fa.fa-smile-o
        Expositores
      - if @event.artisans.empty?
        = request_link @event, "Sé el primero"
      - else
        - @event.artisans.in_groups_of(4).each do |g|
          .row-fluid
            - g.each do |user|
              - next unless user
              .span3
                .mini-card
                  = div_image user.avatar.url(:large), class: 'mini-card-avatar'
                  .mini-card-footer
                    .mini-card-name= link_to user.name, user
                    .mini-card-location= user.location

    %section#benefits
      .card
        %h3
          %i.fa.fa-star
          Beneficios por participar
        .card-mini-padding
          = sanitize @event.benefits, tags: %w( table tr td ul li ol), attributes: %w(style)

  %section#participate
    %h2 ¿Eres diseñador, artesano o artista y quieres participar?
    %p
      ¿Alguna duda? Comunicate con nosotros
    = request_link @event
