<div class="container">
  <div class="checkout-wrapper">
    <h2 class="text-center">Mi carrito</h2>
    <% if @carts.count > 0 %> 
      <h3 class="text-center">Asegúrate de revisar tus productos antes de pasar a pagar</h3>
       
    <% else %>
      <h3 class="text-center">Ooops.. Parece que tu carrito de compras está vacío</h3>
       
    <% end %>
       
    <% @total = 0 %>
      <% @carts.each do |c| %>
    
        <table cellpadding="0" cellspacing="0" border="0" class="cart-table">
          <thead class="">
            <tr>
              <th>Producto</th>
               <th>&nbsp;</th>
              <th>Precio</th>
              <th>Cantidad</th>
              <th>Costo de Envío</th>
              <th>Total</th>
              <th>&nbsp;</th>
            </tr>
          </thead> 
          <tbody>
            <tr>
              <td class="">
                <a href="#">  
                  <img src="" alt="">
                </a>
              </td>
              <td class="">
                <a href="#"><h4><%= c.product.name %></h4></a>
                <span>Creador:<br> <%= c.product.user.name %></span>
              </td>
              <td class="">$ <%= c.product.price %></td>
              <td>1</td>
              <td class="">$ <%= c.product.shipping %></td>
              <td class="product-total">$ 95.00</td>
              <td class="remove">
                <%= link_to '<i class="fa fa-times"></i> Borrar'.html_safe, c, class: "delete-cart-item", method: :delete %>
              </td>
            </tr>
          </tbody>
        </table>
          <% @total = @total + c.product.price + c.product.shipping %>
      <% end %>

      <% if @carts.count > 0 %> 
      <div class="checkout-box">
        <h3 class="total-price">Cantidad de Productos:</h3>
        <h3 class="total-price"><%= current_user.carts.count %></h3>
        <h3 class="total-price">Total a Pagar:</h3>
        <div id="total-price">
          <%= render('carts/total_price') %>
        </div>
     
          <%= link_to 'Pasar a pagar', new_order_path, class: "checkout-button" %>
        <% else %>
          
        <% end %>
        <%= link_to 'Seguir comprando', root_path, class: "keep-buying-button" %>
      </div>
  </div>
</div>


 

                
       