= simple_nested_form_for [:my, @product], html: { }, validate: true do |f|
  = f.input :name, input_html: { class: 'span12' }, placeholder: "¿Cómo se llama tu producto?", wrapper: :control_row
  = f.input :media do
    #file-dropzone.clearfix
      .row-fluid
        = f.fields_for :attachments,  :wrapper => false do |attachments|
          .span3
            .attachment-product-drop.fields
              = product_image_tag attachments.object, :small
              - if attachments.object.new_record?
                = attachments.file_field :attachment
              = attachments.link_to_remove "<i class='icon-trash'></i>".html_safe unless attachments.object.new_record?

        -# unless f.object.attachments.count >= 4
          =# f.link_to_add "<i class='icon-plus'></i>".html_safe, :attachments

  = f.input :category_id, collection: Category.all, :label_method => :name, :value_method => :id, input_html: { class: 'span12', multiple: 'true', size: 1 }, label: "¿En cuál de estas categorías entra?", wrapper: :control_row
  .row-fluid
    .span6
      = f.input :price, :wrapper => :prepend do
        %span.add-on $
        = f.input_field :price, class: 'input-small'
    .span6
      = f.input :amount, prompt: "Seleccionar", label: "¿Cuántos tienes?", input_html: {:class => "dropdown"}

  = f.input :prop_list, label: '¿Qué propiedades tiene? (Máximo 10)', input_html: { class: 'span12 tag-input' }, wrapper: :control_row

  = f.input :about, input_html: { rows: 3, class: 'span12' }, label: "Está hecho con:", wrapper: :control_row

  = f.button :wrapped, cancel: (params[:modal] == '1' ? 'close-modal' : new_my_product_path)
