%h4 1.- Nombre del Producto
%h6 Para agregar un nuevo producto complete la información siguiente y guarde sus cambios.
%br
= simple_nested_form_for [:my, @product], html: { }, validate: true do |f|
  = f.input :name, input_html: { class: 'input-xxlarge' }, placeholder: "Qué estás haciendo?", label: "&nbsp;"
  = f.input :media do
    #file-dropzone.clearfix
      = f.fields_for :attachments do |attachments|
        - if attachments.object.new_record?
          = attachments.file_field :attachment, multiple: true
        - else
          = product_image_tag attachments.object, :medium
        = attachments.link_to_remove "<i class='icon-trash'></i>".html_safe
      - unless f.object.attachments.count >= 4
        = f.link_to_add "<i class='icon-plus'></i>".html_safe, :attachments

  = f.input :category_id, collection: Category.product_category, prompt: "En cuál de estas categorías entra?", :label_method => :name, :value_method => :value, input_html: { class: 'input-xxlarge' }

  = f.input :price, input_html: { min: 0, value: 0 }, placeholder: 'Cuánto cuesta?'
  = f.input :about, input_html: { rows: 3, class: 'input-xxlarge' }



  = f.button :wrapped, cancel: (params[:modal] == '1' ? 'close-modal' : new_my_product_path)

