%div{ style: 'font-family: Helvitica' }
= "#{@to.name},"
%br
%br
%strong
  = @from.name
escribe:
%br
%br
%i= @message.body

= link_to 'Responder', my_conversation_url(@message.conversation), class: 'btn'
