- include_avatar = true if local_assigns[:include_avatar].nil?
- if product.attachments.length >= 1
  = div_for product, class: 'activity' do
    - liked = product.respond_to?(:liked) ? product.liked.to_i != 0 : false
    - if include_avatar
      .lateral-box
        = link_to user_path(product.user), class: 'user-avatar' do
          = image_tag product.user.avatar.url(:small)
        = link_to user_path(product.user) do
          %span.user-name= product.user.first_name
          - if product.user.state.present?
            %br
            %span.user-location= product.user.state.name
    / .lateral-box.want-learn{"data-original-title" => "Quiero aprender", "data-toogle" => "tooltip"}
    /   %a{:href => "learn/#{product.id}"}
    /     %h1
    /       %i.icon-lightbulb
    / .lateral-box.want-buy{"data-original-title" => "Quiero comprar", "data-toogle" => "tooltip"}
    /   %a{:href => "buy/#{product.id}"}
    /     %h1
    /       %i.icon-shopping-cart
    .product-picture
      %div{ id: "heart-overlay-#{dom_id product}", class: "heart-overlay#{liked ? ' liked' : ''}" }
        = link_to '', product_path(product), class: 'fog'
        - if user_signed_in?
          - if !liked
            = link_to( "<span class='likes-count'>#{product.likes_count||0}</span>".html_safe, like_product_path(product, format: 'json'), method: :post, class: "like", remote: true)
          - else
            = link_to( "<span class='likes-count'>#{product.likes_count||0}</span>".html_safe, "javascript:void(1)", class: "like")
        - else
          = link_to( "<span class='likes-count'>#{product.likes_count||0}</span>".html_safe, "#sign_popup", "data-toggle" => "modal", class: "like")
        = link_to "<i class='icon-share-sign'></i>".html_safe, "https://www.facebook.com/sharer/sharer.php?u=#{CGI.escape product_url(product)}", target: "_blank", class: 'fbshare'
        = link_to number_to_currency(product.price), "javascript:void(1)", onclick: 'alert("Espéralo pronto")', class: 'price' if product.price.present?
      = image_tag product.attachments.first.attachment.url :xlarge

    .product-description
      .product-name
        %h4
          = product.name
      .product-about
        = product.about
      .product-tags
        = hashify(product.prop_list)
    .product-pictures
      - if product.on_sale? && product.attachments.length > 1
        .thumbnail-box.clearfix
          - product.attachments[1, 3].each do |attachment|
            .picture-thumbnail
              = image_tag attachment.attachment.url(:medium)
