- if product.attachments.length >= 1
  = div_for product, class: "product-card" do
    - liked = product.respond_to?(:liked) ? product.liked.to_i != 0 : false
    .product-card-image{ style: "background-image: url(#{ product.attachments[0].attachment.url :xlarge })" }
      = link_to product.name, product, class: 'product-img-link'
      - if user_signed_in?
        - if !liked
          = link_to(like_product_path(product, format: 'json'), method: :post, class: "manuable-like", remote: true) do
            %i.fa.fa-heart-o
        - else
          = link_to("javascript:void(1)", class: "manuable-like") do
            %i.fa.fa-heart
      - else
        = link_to( "#sign_popup", "data-toggle" => "modal", class: "manuable-like") do
          %i.fa.fa-heart-o
      /= link_to "//www.facebook.com/sharer/sharer.php?u=#{CGI.escape product_url(product)}", target: "_blank", class: 'fbshare' do
      /%i.fa.fa-share-square-o
      = link_to( new_cart_path(product_id: product.id), class: 'fbshare', style: "background: #1AD8CA") do
        %i.fa.fa-shopping-cart

    .product-card-info
      %span.product-card-name=link_to truncate(product.name, length: 20, omission: '…'), product
      = link_to user_path(product.user), class: 'user' do
        %span.user-name= product.user.first_name
