- content_for :facebook_optimization do
  = product_metadata @product

= div_for @product, class: 'product clearfix' do
  %h2= @product.name
  %h5
    = link_to @product.user.try(:name), @product.user if @product.user
  .flexslider
    %ul.slides
      - @product.attachments.each do |attachment|
        %li
          = div_image attachment.attachment.url( :xlarge ), class: 'product-avatar'
  .product-options.clearfix
    - liked = @product.respond_to?(:liked) ? @product.liked.to_i != 0 : false
    - if liked
      = link_to '<i class="fa fa-heart">&nbsp;</i>Te gusta'.html_safe, 'javascript:void(0)', class: 'manuable-like'
    - else
      = link_to '<i class="fa fa-heart-o">&nbsp;</i>Me gusta'.html_safe, like_product_path(@product, format: 'json'), class: 'manuable-like', remote: true, method: :post

    /= link_to '<i class="fa fa-envelope-o">&nbsp;</i>Mensaje'.html_safe, new_my_conversation_path(to: @product.user_id), rel: 'modal', class: 'message'
    /= link_to '<i class="fa fa-share-square-o">&nbsp;</i>Compartir'.html_safe, "https://www.facebook.com/sharer/sharer.php?u=#{CGI.escape product_url(@product)}", class: 'fbshare', target: '_blank'
    = link_to '<i class="fa fa-share-square-o">&nbsp;</i>Comprar'.html_safe, add_cart(to: ), class: 'fbshare', target: '_blank' remote: true, method: :post
  .product-description
    = @product.about
    %br
  .spacer
  = commontator_thread(@product)
  - if params[:no_layout] == '1'
    :javascript
      ProductsShow.init();
