!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Manuable"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
    = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"
    = stylesheet_link_tag "//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700"
    = stylesheet_link_tag "application", :media => "all"
    %link(href="images/apple-touch-icon-144x144.png" rel="apple-touch-icon-precomposed" sizes="144x144")
    %link(href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon-precomposed" sizes="114x114")
    %link(href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon-precomposed" sizes="72x72")
    %link(href="images/apple-touch-icon.png" rel="apple-touch-icon-precomposed")

  %body{data: { page: [controller_name.capitalize, action_name.capitalize].join }}
    = render partial: '/shared/navigation_bar'
    .container
      .row
        = bootstrap_flash

        .span3
          .layout-container.user-option-panel
            %dl
              %dt
                Cuenta
              %dd{ class: @my_section == "profile" ? 'active' : "" }
                = link_to "#" do
                  %i{ class: "icon-user" }
                  Perfil
              %dd{ class: @my_section == "settings" ? 'active' : "" }
                = link_to "#" do
                  %i{ class: "icon-cogs" }
                  Preferencias
              %dd{ class: @my_section == "password" ? 'active' : "" }
                = link_to "#" do
                  %i{ class: "icon-lock" }
                  Contraseña
              %dt
                Productos/Artesanías
              %dd{ class: @my_section == "products" ? 'active' : "" }
                = link_to my_products_path do
                  %i{ class: "icon-th-large" }
                  Mis Producto
              %dd{ class: @my_section == "new_product" ? 'active' : "" }
                = link_to new_my_product_path do
                  %i{ class: "icon-cloud-upload" }
                  Subir Producto

        .span7
          .layout-container
            = yield
      %footer
        %p &copy; Manuable 2013
      %script{ id: "upload-template", type: "text/x-handlebars-template" }
        \ <div class="image-upload">
        \   <div class="filename">
        \     {{filename}}
        \   </div>
        \   <div class="progress progress-success progress-striped" role="progressbar" aria-valuemin="0" aria-valuemax="100">
        \     <div class="bar" style="width:0%;"></div>
        \   </div>
        \   <a href="javascript:void(0)" class="remove-attachment"><i class="icon-remove"></i></a>
        \ </div>

    = javascript_include_tag "application"
